# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
test-results
.nyc_output

# Production
dist
build

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vite
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# Agent
.agent/
.gemini/
